* {
  box-sizing: border-box;
}

body {
  background-color: papayawhip;
  text-align: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.list {
  width: 400px;
  margin: auto;
  border-radius: 20px;
}

.header {
  color: white;
  font-size: 24px;
  padding: 8px;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 20px 20px 0 0;
}

.items {
  height: 500px;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.itemRow {
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
}

.delBtn {
  background-color: transparent;
  transition: all 300ms ease-in;
}

.delBtn:hover {
  color: red;
  transform: scale(1.4);
}
.divider {
  width: 90%;
  height: 1px;
  margin: auto;
  background-color: lightgray;
}
.footer {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 20px;
}

.footer__btn {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 8px;

  transition: all 300ms ease-in;
}

.footer__btn:hover {
  color: red;
  transform: scale(1.4);
}
